<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" link href="/static/css/nav.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>Attack Tree Forest</title>

</head>

<body>
    <!-- Vertical navbar -->
    <div class="vertical-nav bg-dark" id="sidebar">
        <div class="py-4 px-3 mb-4 bg-dark">
            <div class="media d-flex align-items-center">
                <div class="media-body">
                    <h4 class="m-0 font-weight-bold text-light">AFORT</h4>
                    <p class="font-weight-light text-white-50 mb-0 mt-3">An effort to aggregate attack trees</p>
                </div>
            </div>
        </div>


        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-2 mb-0">Navigation</p>

        <ul class="nav flex-column bg-dark mb-0">
            <li class="nav-item">
                <a href={{url_for('index')}} class="nav-link bg-dark text-white-50">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href={{url_for('stats')}} class="nav-link bg-dark text-white-50">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    Statistics
                </a>
            </li>
            <li class="nav-item">
                <a href={{url_for('submit')}} class="nav-link bg-dark text-white-50">
                    <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                    Submit Tree
                </a>
            </li>
            <li class="nav-item">
                <a href={{url_for('about')}} class="bg-dark nav-link text-white">
                    <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                    About
                </a>
            </li>
        </ul>

    </div>
    <!-- End vertical navbar -->


    <!-- Page content holder -->
    <div class="page-content pt-4" id="content">
        <!-- Demo content -->
        <h2 class="display-4 font-weight-normal">About AFORT</h2>
        <br/><br/>
        <p class="font-weight-normal mb-0">AFORT, <i><b>A</b>ttack Tree <b>FOR</b>es<b>T</b></i> intends to be a repository of Attack Trees (ATs) and Attack-Defense Trees (ADTs), collected from scientific literature.
        </p>
        <p class="font-weight-normal">For any issues related to website, contact f20180218@pilani.bits-pilani.ac.in</p>

    </div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>