<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" link href="/static/css/nav.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>Attack Tree Forest</title>

</head>

<body onload="getData(list_submissions, gateList, BEList);">
    <!-- Vertical navbar -->
    <div class="vertical-nav bg-dark" id="sidebar">
        <div class="py-4 px-3 mb-4 bg-dark">
            <div class="media d-flex align-items-center">
                <div class="media-body">
                    <h4 class="m-0 font-weight-bold text-light">AFORT</h4>
                    <p class="font-weight-light text-white-50 mb-0 mt-3">An effort to aggregate attack trees</p>
                </div>
            </div>
        </div>


        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-2 mb-0">Navigation</p>

        <ul class="nav flex-column bg-dark mb-0">
            <li class="nav-item bg-dark">
                <a href={{url_for('index')}} class="bg-dark nav-link text-white">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href={{url_for('stats')}} class="nav-link bg-dark text-white-50">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    Statistics
                </a>
            </li>
            <li class="nav-item">
                <a href={{url_for('submit')}} class="nav-link bg-dark text-white-50">
                    <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                    Submit Tree
                </a>
            </li>
            <li class="nav-item">
                <a href={{url_for('about')}} class="nav-link bg-dark text-white-50">
                    <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                    About
                </a>
            </li>
        </ul>

    </div>
    <!-- End vertical navbar -->


    <!-- Page content holder -->
    <div class="page-content pt-4" id="content">
        <h2 class="display-4 font-weight-normal">AFORT</h2>
        <p class="lead font-weight-normal mb-0">AFORT intends to be a repository of Attack Trees (ATs) and Attack-Defense Trees (ADTs), collected from scientific literature.
        </p>

        <p class="font-weight-normal mt-3">
            Our main purpose is to provide a benchmark suite, so that researchers on attack tree analysis can use a large and diverse number of attack trees to test and validate their methods and tools. Each attack tree is given in Galileo format, and results for earlier analyses are provided, if available.
            <br/>
            Clicking on the fault tree's name, will provide additional information, including the paper where the model first appeared, and a graphical representation.
            <br/>
            Statistics about the fault trees collected in AFORT can be found <a href="/stats">here</a>.
            <br/>
            To submit a new model, please go <a href="/submit" class="">here</a> to provide the AT/ADT in Galileo format, and its associated metadata, and send it to the maintainers to be processed and uploaded.
        </p>

        <div class="card bg-light" style="width:100%">
            <h5 class="card-header">Filter</h5>
            <div class="card-body">
                <form>
                <div class="row">
                    <div class="col-auto"><input type="search" class="form-control" placeholder="Filter tree by name..." id="filter-name" oninput="updateATs();"></div>
                    <label class="col-form-label">of type:</label>
                    <div class="col-auto">

                        <select id="inputState" class="form-control" id='filter-type' oninput="updateATs();">
                            <option selected>Any</option>
                            <option>Static</option>
                            <option>Dynamic</option>
                            <option>Maintenance</option>
                        </select>
                    </div>
                    <div class="col"><input type="search" class="form-control" placeholder="of description containing.." id="filter-description" oninput="updateATs();"></div>
                </div>
                <div class="row">
                    <div class="col-auto"><label class="col-form-label">With at least one of these gate types:</label></div>
                    <div class="col-auto">
                        <input class="form-check-input col-auto" type="checkbox" onchange="updateATs();" name="gatetype">
                        <label class="form-check-label">AND</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-check-input" type="checkbox" onchange="updateATs();" name="gatetype">
                        <label class="form-check-label">OR</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-check-input" type="checkbox" onchange="updateATs();" name="gatetype">
                        <label class="form-check-label">SAND</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto"><label class="col-form-label">With at least one of these result types:</label></div>
                    <div class="col-auto">
                        <input class="form-check-input" type="checkbox" onchange="updateATs();" name="ResultType">
                        <label class="form-check-label">MTTF</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-check-input" type="checkbox" onchange="updateATs();" name="ResultType">
                        <label class="form-check-label">Unreliability</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-check-input" type="checkbox" onchange="updateATs();" name="ResultType">
                        <label class="form-check-label">Unavailability</label>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-auto"><label class="col-form-label">With this many basic elements:</label></div>
                    <div class="col"><input type="search" class="form-control" placeholder="minimum" oninput="updateATs();" id="minBE"></div>
                    &le; |BE| &le;
                    <div class="col"><input type="search" class="form-control" placeholder="maximum" oninput="updateATs();" id="maxBE"></div>
                </div>
                <div class="row my-1">
                    <div class="col-auto"><label class="col-form-label">With this many basic gates:</label></div>
                    <div class="col"><input type="search" class="form-control" placeholder="minimum" oninput="updateATs();" id="maxGate"></div>
                    &le; |Gates| &le;
                    <div class="col"><input type="search" class="form-control" placeholder="maximum" oninput="updateATs();" id="maxGate"></div>
                </div>
                <div class="row my-1">
                    <div class="col"><input type="search" class="form-control" placeholder="Published by author..." oninput="updateATs();" id="author"></div>
                    <div class="col-auto pl-0 pr-2">
                        <select id="publishYearRel" class="form-control m-0">
                            <option selected>After</option>
                            <option>Before</option>
                            <option>In</option>
                        </select>
                    </div>

                    <div class="col-2 pl-0 pr-2"><input type="search" class="form-control" placeholder="year..." id="publishYear"></div>
                    <label class="col-form-label">and added to AFORT</label>
                    <div class="col-auto px-2">
                        <select id="addedYearRel" class="form-control">
                            <option selected>After</option>
                            <option>Before</option>
                        </select>
                    </div>
                    <div class="col-auto pl-0"><input type="date" class="form-control" id="addedYear"></div>

                </div>
                </form>
            </div>
        </div>

    <br/>
    <table class="table table-hover" id="disp-data">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col"># BEs</th>
                <th scope="col"># Gates</th>
                <th scope="col">Distr.</th>
                <th scope="col">Gate Types</th>
                <th scope="col">Repair</th>
                <th scope="col">Model</th>
                <th scope="col">Results</th>
            </tr>
        </thead>
        <tbody id="disp-data-body">

        </tbody>
    </table>


    </div>


</body>


<script>
    list_submissions = {{list_submissions|tojson}};
    gateList = {{gateList|tojson}};
    BEList = {{BEList|tojson}};
</script>
<script src="/static/js/index.js"></script>
<script src="/static/js/filter.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>