<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>Attack Tree Forest</title>

</head>

<body onload="addVariant()">

    <!-- Vertical navbar -->
    <div class="vertical-nav bg-dark" id="sidebar">
        <div class="py-4 px-3 mb-4 bg-dark">
            <div class="media d-flex align-items-center">
                <div class="media-body">
                    <h4 class="m-0 font-weight-bold text-light">AFORT</h4>
                    <p class="font-weight-light text-white-50 mb-0 mt-3">An effort to aggregate attack trees</p>
                </div>
            </div>
        </div>


        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-2 mb-0">Navigation</p>

        <ul class="nav flex-column bg-dark mb-0">
            <li class="nav-item">
                <a href={{url_for('index')}} class="nav-link bg-dark text-white-50">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href={{url_for('stats')}} class="nav-link bg-dark text-white-50">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    Statistics
                </a>
            </li>
            <li class="nav-item">
                <a href={{url_for('submit')}} class="bg-dark nav-link text-white">
                    <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                    Submit Tree
                </a>
            </li>
            <li class="nav-item">
                <a href={{url_for('about')}} class="nav-link bg-dark text-white-50">
                    <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                    About
                </a>
            </li>
        </ul>

    </div>
    <!-- End vertical navbar -->

    <!-- Page content holder -->
    <div class="page-content pt-4" id="content">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-success" role="alert">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h2 class="display-4 font-weight-normal">AFORT Submission Page</h2>
        <br />
        <p class="font-weight-normal mb-0">
            This page is intended to allow testing and submission of newly to-be-added fault trees. Enter the
            information about your fault tree and its Galileo files in the form below, and check that the information is
            correctly displayed in the table. Note that your image file will currently not be shown in the preview. When
            you are satisfied, click the `Send to maintainer' button below the form.

            <br /><br />Metadata about the number of elements, gate types, and repairability will be automatically
            inserted by the maintainers based on the model in your Galileo file.

            <br /><br />At the bottom of the page you can see exactly what will be sent to the maintainers (in addition
            to the selected file). This information is provided for troubleshooting only. We advise against editing this
            information manually, and it will be removed in the near future.
        </p>
        <br /><br />
        <div class="card bg-light" style="width:100%">
            <h5 class="card-header">Submit a tree</h5>
            <div class="card-body">
                <form action={{url_for('submit')}} method="POST" id="inputTree" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="yourName" class="col-sm-2 col-form-label">Your name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="yourName" name="yourName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="yourEmail" class="col-sm-2 col-form-label">Your email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="yourEmail" name="yourEmail">
                        </div>
                    </div>
                    <hr style="height:1rem;" class="mb-0" />
                    <div class="form-group row">
                        <label for="modelName" class="col-sm-2 col-form-label">Model name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="modelName" name="modelName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name="description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="imageFile" class="col-sm-2 col-form-label">Choose image file [OPTIONAL]</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control-file" id="imageFile" accept="image/*" name="imageFile">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="paperTitle" class="col-sm-2 col-form-label">Original Paper Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="paperTitle" name="paperTitle">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="authors" class="col-sm-2 col-form-label">Authors (separated by commas)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="authors" name="authors">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="doi" class="col-sm-2 col-form-label">DOI/link</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="doi" name="doi">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="year" class="col-sm-2 col-form-label">Year</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="year" name="year">
                        </div>
                    </div>

                    <div class="form-group" id="refList">
                    </div>
                    <a href="javascript:;" onClick="addReference()" class="mb-10" id="addRef">Add Reference</a>

                    <div class="form-group" id="varList">
                    </div>

                    <a href="javascript:;" onClick="addVariant()" class="mb-10" id="addVariant">Add Variant</a>
                    <br /> <br/>
                    <input type="submit" value="Submit" class="btn btn-success" id="submit">

                </form>
            </div>
        </div>

    </div>

<br/><br/>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script src="/static/js/submit.js"></script>

</html>